.tvhead   {background-color:#D0E9FD;color:#003366;font-size:10px;font-family:tahoma;padding-top:2px;padding-bottom:2px;}
.tvclose  {font-size:10px;font-weight:bold;cursor:pointer;}
.tvclosex {border:1px solid #003366;font-weight:bold;cursor:pointer;}